<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body class="body-image">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Календарь", "Index", "Games")</li>
                    <li>@Html.ActionLink("Чемпионаты", "Index", "Championships")</li>
                    <li>@Html.ActionLink("Команды", "Index", "Teams")</li>
                    <li>@Html.ActionLink("Игроки", "Index", "Players")</li>
                    @if (HttpContext.Current.User.IsInRole("admin"))
                    {
                        <li>
                            @Html.ActionLink("Выход", "LogOff", "Account");
                        </li>
                    }
                </ul>
            </div> 

        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Прокофьев Александр</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>