@model ChampionshipWeb.Models.team

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверенны, что хотите удалит это?</h3>
<div>
    <h4>Команда</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Короткое название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.short_name)
        </dd>

        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Город
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name_ru)
        </dd>

        <dt>
            Тренер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coach.name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> 
        </div>
    }
</div>
