@model ChampionshipWeb.Models.team

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <h2>
            @Html.DisplayFor(model => model.short_name)
        </h2>

        <dt>
            Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            City
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city.name_ru)
        </dd>

        <dt>
            Coach
        </dt>

        <dd>
            @Html.DisplayFor(model => model.coach.name)
        </dd>

    </dl>
</div>

<h3>Players</h3>
@Html.Partial("~/Views/Players/_Index.cshtml", ViewBag.allPlayers as IEnumerable<ChampionshipWeb.Models.player>);


<p>
    @if (HttpContext.Current.User.IsInRole("admin, moder"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) 
    }
    @Html.ActionLink("Back to List", "Index")
</p>
