@model ChampionshipWeb.Models.game

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалит это?</h3>
<div>
    <h4>Игра</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Дата
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            Счет команды 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1_score)
        </dd>

        <dt>
            Счет команды 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team2_score)
        </dd>

        <dt>
            Место
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            Статус
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_state.name_ru)
        </dd>

        <dt>
            Этап
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage.name)
        </dd>

        <dt>
            Команда 1
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.short_name)
        </dd>

        <dt>
            Команда 2
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1.short_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" />
        </div>
    }
</div>
