@model ChampionshipWeb.Models.game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team1_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team2_score)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team2_score)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.game_state.name_ru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.game_state.name_ru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stage.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stage.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team.short_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.short_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.team1.short_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team1.short_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
