@model IEnumerable<ChampionshipWeb.Models.game>

@{
    ViewBag.Title = "Index";
}

<h2>Календарь</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Создать новую", "Create", "Games")
    }
</p>
<table class="table">
    <tr>
        <th>
            Дата
        </th>
        <th>
            Команда 1
        </th>
        <th>
            Команда 2
        </th>
        <th>
            Счет команды 1
        </th>
        <th>
            Счет команды 2
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team.short_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team1.short_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team1_score)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team2_score)
            </td>
            <td>
                @Html.ActionLink("Детали", "Details", "Games", new { id = item.id }, null)
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Редактировать", "Edit", "Games", new { id = item.id }, null)
                }
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Удалить", "Delete", "Games", new { id = item.id }, null)
                }
            </td>
        </tr>
    }

</table>
