@model IEnumerable<ChampionshipWeb.Models.player>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Созать нового", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Статус
        </th>
        <th>
            Позиция
        </th>
        <th>
            Команда
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.player_state.name_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.position.name_ru)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team.short_name)
            </td>
            <td>
                @Html.ActionLink("Подробнее", "Details", "Players", new { id = item.id }, null)
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Редактировать", "Edit", "Players", new { id = item.id }, null)
                }
                @if (HttpContext.Current.User.IsInRole("admin"))
                {
                    @Html.ActionLink("Удалить", "Delete", "Players", new { id = item.id }, null)
                }
            </td>
        </tr>
    }

</table>
