@model ChampionshipWeb.Models.player

@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <dl class="dl-horizontal">
        <h2>
            @Html.DisplayFor(model => model.name)
        </h2>

        <dt>
            Дата рождения
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_of_birth)
        </dd>

        <dt>
            Вес
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        <dt>
            Рост
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            Фото
        </dt>

        <dd>
            @Html.DisplayFor(model => model.photo_path)
        </dd>

        <dt>
            Состояние
        </dt>

        <dd>
            @Html.DisplayFor(model => model.player_state.name_ru)
        </dd>

        <dt>
            Позиция
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position.name_ru)
        </dd>

        <dt>
            Команда
        </dt>

        <dd>
            @Html.DisplayFor(model => model.team.short_name)
        </dd>

    </dl>
</div>
<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id })
    }
</p>
