@model IEnumerable<ChampionshipWeb.Models.player>

@{
    ViewBag.Title = "Players";
}


<div>
    <form method="post" action="/Players/Index">
        <tr>
            <td><p>Team: </p></td>
            <td> @Html.DropDownList("Команда", ViewBag.Teams as SelectList)</td>
            <td><input type="submit" value="Фильтр" /> </td>
        </tr>
    </form>
</div>


<h2>Index</h2>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Создать нового", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            Имя
        </th>
        <th>
            Статус
        </th>
        <th>
            Позиция
        </th>
        <th>
            Команда
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.player_state.name_ru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.position.name_ru)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.team.short_name)
        </td>
        <td>
            @Html.ActionLink("Детали", "Details", new { id = item.id })
            @if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.ActionLink("Редактировать", "Edit", new { id = item.id })
            }
            @if (HttpContext.Current.User.IsInRole("admin"))
            {
                @Html.ActionLink("Удалить", "Delete", new { id=item.id })
            }
        </td>
    </tr>
}

</table>
