@model IEnumerable<ChampionshipWeb.Models.stage>

<p>
    @if (HttpContext.Current.User.IsInRole("admin, moder"))
    {
        @Html.ActionLink("Create New", "Create")
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.championship.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.type_of_stage.name_ru)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.championship.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.type_of_stage.name_ru)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Stages", new { id = item.id }, null)
            @if (HttpContext.Current.User.IsInRole("admin, moder"))
                {
                @Html.ActionLink("Edit", "Edit", "Stages", new { id = item.id }, null)
            }
            @if (HttpContext.Current.User.IsInRole("admin, moder"))
                {
                @Html.ActionLink("Delete", "Delete", "Stages", new { id = item.id }, null)
            }
        </td>
    </tr>
}

</table>
