@model ChampionshipWeb.Models.stage

@{
    ViewBag.Title = "Details";
}

<div>
    <h2>Этап</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Название
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            Чемпионат
        </dt>

        <dd>
            @Html.DisplayFor(model => model.championship.name)
        </dd>

        <dt>
            Тип этапа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.type_of_stage.name_ru)
        </dd>

    </dl>
</div>

<p>
    @if (HttpContext.Current.User.IsInRole("admin"))
    {
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id })
    }
</p>


<h3>Турнирная таблица</h3>
@Html.Partial("Table", ViewBag.allTeamsScore as IEnumerable<ChampionshipWeb.Models.teams_in_stage>);

<h3>Игры этапа</h3>
@Html.Partial("~/Views/Games/_Index.cshtml", ViewBag.allGames as IEnumerable<ChampionshipWeb.Models.game>);


